* {
  margin: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 4px;
  text-transform: capitalize;
}

/*MAIN CONTAINER*/

.maincontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
  scroll-snap-align: center;
}

/*HEADER TAG AND COMPONENTS*/

header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;

    & > span {
      transition: all 0.5s ease;
      cursor: pointer;
    }

    & > span:hover {
      opacity: 0.8;
    }
  }
}

/*HEADER LOGO AND WRAP COMPONENT*/

header .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

/*HEADER NAVIGATION*/

/*STACKS STYLING*/

.stack {
  display: flex;
  align-items: center;
  justify-content: center;
  & > div, & > section {
    
  }
}

/*ALERT WRAP AND COMPONENTS*/

.alertwrap {
  width: 40%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-self: center;
  border: 1px solid #222;
  border-radius: 6px;
  box-shadow: 0px 1px 1px #222;
  cursor: pointer;
}

.alertwrap .alerthead {
  width: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.alertwrap .alertbody {
  width: 90%;
  & h4 {
    font-size: 17px;
  }

  & p {
    font-size: 13px;
  }
}

/*NOTIFICATION WRAP AND COMPONENTS*/

.notifywrap {
  width: 50%;
  height: 70px;
  position: fixed;
  top: 90%;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 6px;
  border-radius: 6px;
  box-shadow: 0px 1px 1px #222;
  cursor: pointer;
  color: #fff;
  transition: all ease-in-out;
  animation-name: onDisplay;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.notifywrap .notifybody {
  width: 80%;

  & h4 {
    font-size: 17px;
  }

  & p {
    font-size: 13px;
  }
}

.notifywrap .notifyhead {
  width: 10%;
  & p {
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    &:hover {
      font-size: 15px;
    }
  }
}

/*NOTIFY REMOVE CLASS*/
.removeDom {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Block  flex wrap*/
.block {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

/*Box  flex wrap*/
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

/*Avatar component*/
.avatarimagewrap {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  & img {
    width: 200px;
    height: 300px;
  }
}

/*https://picsum.photos/200/300*/
/*Block  flex wrap*/
.avatarwrap {
  width: 68px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: peru;
  border-radius: 50%;
  margin: 12px;
  cursor: pointer;
  font-size: 24px;
  color: #222;
  font-weight: bold;
  transition: all .5s ease;
  &:hover {
    border: 1px solid red;
  }
}

/*APP BAR DESIGN*/
.appbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appbar .appbarback {
  width: 10%;
  & span {
    font-size: 14px;
  }
}

.appbar .appbartitle {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  & h2 {
    font-size: 22px;
    margin-right: 12px;
  }
}

.bottomnav {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: green;
  & button {
      width: 16%;
      height: 50%;
      border-radius: 5px;
      outline: none;
  }
}


/*ANIMATIONS*/
@keyframes onRemove {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes onDisplay {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 425px) {

}
